.about-body {
  display: flex;
  flex-direction: column;
}
.about-main {
 top: 3rem;
  width: 70vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.about-heading {
    font-size: 30px;
    font-weight: 500;
    opacity: 0.9;
}
.about-hr{
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.553);
}
/* .about-info {
} */
